/* public/cube-style.css */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: radial-gradient(rgb(80, 80, 80), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.hide {
    display: none;
}