html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #ff6b6b;
}

button {
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 20px;
}

button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
  border-radius: 7px;
  z-index: -1;
}

.solve-item:hover .buttons {
  opacity: 1 !important;
}

button:hover {
  background-color: #333333;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


button:disabled::before {
  background: #cccccc;
}
