:root {
  --black: #000501ff;
  --eerie-black: #1b2323ff;
  --light-blue: #a6cfd5ff;
  --azure: #1b7edaff;
  --white: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Arial', sans-serif;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: var(--white);
}

button {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--azure);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 20px;
}


.solve-item:hover .buttons {
  opacity: 1 !important;
}

button:hover {
  background-color: var(--eerie-black);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


