:root {
  --black: #000501ff;
  --eerie-black: #1b2323ff;
  --light-blue: #a6cfd5ff;
  --azure: #1b7edaff;
  --white: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Arial', sans-serif;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-view {
  margin-left: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.timer-wrapper {
  flex-grow: 1; /* Allows the timer area to expand and fill all available vertical space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-area {
  max-height: 35vh; /* Constrains the widget area to a maximum of 35% of the viewport height */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.widget-slot {
  flex: 1;
}

h1 {
  text-align: center;
  color: var(--white);
}

button {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--azure);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 20px;
}


.solve-item:hover .buttons {
  opacity: 1 !important;
}

button:hover {
  background-color: var(--eerie-black);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


